* {
    margin: 0;
    box-sizing: border-box;
}

/* H1 */

h1 {
    background-color: aquamarine;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}

/* ol */

ol {
    max-width: 1440px;

    background-color: aqua;
    cursor: pointer;
}

/* li */

li {
    font-size: 22px;
}
